[Unit]
Description=ansible pull webhook
After=network.target
Documentation=https://github.com/adnanh/webhook/

[Service]
Type=simple
ExecStart=/bin/webhook -nopanic -hooks /root/hooks.json
User=root
Group=root
Restart=on-failure

[Install]
WantedBy=default.target
