[Unit]
Description=ansible pull webhook
After=network.target

[Service]
User=http
Type=simple
ExecStart=/bin/bash -xc 'echo -e "HTTP/1.1 204 No Content\\r\\nConnection: close\\r\\n\\r" | nc -l 0.0.0.0 7777; /usr/bin/ansible-pull -o -U https://github.com/LegitCamper/homelab-proxy.git > /dev/null'
Restart=always
StartLimitInterval=1min
StartLimitBurst=60

[Install]
WantedBy=multi-user.target
