[Unit]
Description=ansible pull webhook
After=network.target
[Service]

Type=simple
WorkingDirectory=/opt/hooks
ExecStart=/bin/webhook -hooks /root/hooks.json
Restart=on-failure
StartLimitBurst=25
# Restart, but not more than once every 10 minutes
StartLimitInterval=600
PrivateTmp=true

[Install]
WantedBy=default.target
